.card {
  background-color: var(--text-color);
  color: var(--background);
  padding: 40px 20px;
  border-radius: 40px;
}

.title {
  margin-bottom: 20px;
}
.description_wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.description {
  color: #8c8b8b;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.read_more {
  text-decoration: underline;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.views_wrapper {
  display: flex;
  justify-content: flex-end;
}
.views {
  background-color: #8c8b8b;
  border-radius: 12px;
  padding: 10px;
  text-align: left;
  font-weight: 600;
}
.tags {
  list-style: none;
  display: flex;
  gap: 20px;
  font-style: italic;
}
