.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 20px;
  flex-direction: column;
}
.title {
  font-size: 100px;
  color: var(--text-color);
}
.link {
  padding: 20px 40px;
  background-color: var(--text-color);
  border-radius: 16px;
  font-size: 45px;
}
